<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dex.workboard</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>REPLACE_WITH_ABSOLUTE_PATH_TO_VAULT/06-Resources/Dex_System/workboard/workboard_server.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>REPLACE_WITH_ABSOLUTE_PATH_TO_VAULT/06-Resources/Dex_System/workboard</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/dex-workboard.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/dex-workboard.err</string>
</dict>
</plist>
